/**
 * General
 */
body {
  background: #E7E7E7;
}

.section-wrapper {
  padding-bottom: 60px;
  padding-top: 30px;
}

.section {
  background: #fff;
  margin-bottom: 30px;
}

.section .section-inner {
  background: #fff;
  padding: 30px;
}

.paragraph {
  font-size: 16px;
}

/**
 * Header
 */
.header {
  background: #fff;
  border-top: 5px solid #B0B7BF;
  padding: 30px 0;
}

.header .profile-image {
  margin-right: 30px;
}

.header .name {
  color: #49515a;
  margin-bottom: 5px;
  margin-top: 30px;
}

.header .designation {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 15px;
}

/**
 * Information Section
 */
.info .fa, .download .fa, .recommendations .fa {
  margin-right: 15px;
  color: #ccd1d6;
}
.info .fa.fa-envelope-o, .download .fa.fa-envelope-o {
  font-size: 14px;
}
.info ul, .download ul {
  margin-bottom: 0;
}
.info li, .download li {
  margin-bottom: 15px;
}
.info li:last-child, .download li:last-child {
  margin-bottom: 0;
}

/**
 * Education Section
 */
.education .item {
  margin-bottom: 30px;
}
.education .item:last-child {
  margin-bottom: 0;
}
.education .item .title {
  font-size: 16px;
  margin-top: 0;
}
.education .item .university {
  font-family: "Lato", arial, sans-serif;
  font-size: 13px;
  color: #999999;
  font-weight: 600;
  padding-left: 25px;
}
.education .item .university .year {
  color: #b0b7bf;
  font-weight: 500;
}